img{
  width: 15%;
  height:15%;
  margin-left: 25em;
  margin-top: 5%;
  /* padding-left: 25em;
  padding-top: 5%;  */
  border-radius: 50% ;
  border: solid #000;
}
input{
    font-family: 'Helvetica Neue', sans-serif;
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #ffffff;
    display: block;
    width: 50%;
    margin-left: 30em;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    :focus{
        border: 3px solid #5551ff;
    }
}
h2 { 
    color: #ffffff; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    padding-bottom: 3%;
}
.container {
    position: relative; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; 
    background-color: #0e0e0eda;
    opacity: 0.8;
    border: 1px solid #ccc;
    border-radius: 3em;
    top: 100px; 
  }
  .textbox {
    width: 600px;
    height: 150px; 
    resize: vertical; 
    overflow-y: scroll; 
    background-color: #000;
    color: white;
    font-size: 2em;
    justify-content: center;
    margin-left: 7em;
    border-radius: 3%;
  }
  button{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  margin-left: 20em;
  margin-top: 5px;
}
  button:hover{
      color: #000;
      background: rgb(255, 218, 87);
  }
  p{
    font-size: 2em;
    font-family: 'Helvetica Neue', sans-serif; 
    text-align: center; 
    padding-top: 20px;
    font-weight: bold; 
    color: white;
  }
  
  
  
  
  
  