.wallpaper{
    background-image: url(https://i.pinimg.com/564x/9d/03/35/9d03353271d9839ab70e944ae2c25b16.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
*{
    margin: 0;
}