
<div class="kaw">
    <div class="bow">
    
            <table>
                <thead>
                    <tr>
                        <th style="font-family: Consolas; font-size: 2em; font-weight: bold;">Alphabets</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A = 11</td>
                        <td>B = 23</td>
                        <td>C = 28</td>
                        <td>D = 46</td>
                        <td>F = 22</td>
                    </tr>
                    <tr>
                        <td>G = 24</td>
                        <td>H = 29</td>
                        <td>I = 47</td>
                        <td>J = 88</td>
                        <td>K = 33</td>
                    </tr>
                    <tr>
                        <td>L = 25</td>
                        <td>M = 40</td>
                        <td>N = 48</td>
                        <td>O = 99</td>
                        <td>P = 44</td>
                    </tr>
                    <tr>
                        <td>Q = 26</td>
                        <td>R = 41</td>
                        <td>S = 80</td>
                        <td>T = 00</td>
                        <td>U = 55</td>
                    </tr>
                    <tr>
                        <td>V = 27</td>
                        <td>W = 45</td>
                        <td>X = 49</td>
                        <td>Y = 21</td>
                        <td>Z = 66</td>
                    </tr>
                    <tr>
                        <td>E = 77</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>a = 11-</td>
                        <td>b = 23-</td>
                        <td>c = 28-</td>
                        <td>d = 46-</td>
                        <td>f = 22-</td>
                    </tr>
                    <tr>
                        <td>g = 24-</td>
                        <td>h = 29-</td>
                        <td>i = 47-</td>
                        <td>j = 88-</td>
                        <td>k = 33-</td>
                    </tr>
                    <tr>
                        <td>l = 25-</td>
                        <td>m = 40-</td>
                        <td>n = 48-</td>
                        <td>o = 99-</td>
                        <td>p = 44-</td>
                    </tr>
                    <tr>
                        <td>q = 26-</td>
                        <td>r = 41-</td>
                        <td>s = 80-</td>
                        <td>t = 00-</td>
                        <td>u = 55-</td>
                    </tr>
                    <tr>
                        <td>v = 27-</td>
                        <td>w = 45-</td>
                        <td>x = 49-</td>
                        <td>y = 21-</td>
                        <td>z = 66-</td>
                    </tr>
                    <tr>
                        <td>e = 77-</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    
    <div class="bow">
        <table>
            <thead>
                <tr>
                    <th style="font-family: Consolas; font-size: 2em;">Numeric</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td>0 = AC</td>
                    <td>1 = BC</td>
                    <td>2 = DC</td>
                    <td>3 = EC</td>
                    <td>4 = FC</td>
                </tr>
                <tr>
                    <td>5 = GC</td>
                    <td>6 = HC</td>
                    <td>7 = IC</td>
                    <td>9 = KC</td>
                    <td>SPACE = !!</td>
                </tr>
                <tr>
                    <td>. = /</td>
                    <td>, = //</td>
                    <td>! = ///</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
 
    </div>
  </div>
